<div class="container text-center py-5">
    <h1 class="display-1 text-danger">500</h1>
    <h2 class="mb-4">Internal Server Error</h2>
    <p class="lead mb-4">Our servers are shitting themselves. Please try again later!</p>
    <a asp-action="Index" class="btn btn-primary btn-lg">Go Back to Home</a>
</div>